/* Fundo da página */
body {
     background: linear-gradient(to right,rgb(35, 88, 37), rgb(11, 59, 89));
    /* background: linear-gradient(rgb(2, 89, 5), rgb(0, 0, 0)); */
    color: rgba(255, 255, 255, 0.9); /* Usei opacidade para suavizar o texto */
    background-size: cover;
    background-position: center; /* Para garantir que a imagem de fundo esteja bem centralizada */
    font-family: Arial, sans-serif; /* Sugestão para melhorar a legibilidade */
}

/* Estilos do formulário */
#formulario {
    margin-top: 20px;
}

/* Estilo dos botões */
.btn {
    margin: 10px;
    background: linear-gradient(45deg, #000000, #0077ff); /* Adicionando um gradiente de preto para azul */
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4); /* Sombra mais suave */
    width: 100px; /* Aumentei o tamanho do botão */
    height: 40px; /* Aumentei um pouco a altura */
    font-size: 18px; /* Font-size mais suave para não ficar muito grande */
    color: #13d373; /* Verde mais vibrante */
    border: none; /* Removi borda para o botão ficar com visual mais limpo */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Suavizar transição de hover */
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #0077ff, #000000); /* Revertendo o gradiente no hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5); /* Efeito de brilho azul na borda */
}

/* Estilo da barra de navegação */
.navbar {
    overflow: hidden;
    background: linear-gradient(45deg, #000000, #0077ff); /* Ajustei o gradiente para combinar com o botão */
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Mais contraste na sombra */
    border: solid 2px #13d373; /* Bordas mais sutis */
}

.navbar a {
    float: left;
    display: block;
    color: #13d373; /* Verde mais vibrante para o link */
    text-align: center;
    padding: 14px 20px; /* Aumentei o padding para melhorar a área de clique */
    text-decoration: none;
    margin-left: 40px; /* Reduzi o espaço entre os links */
    font-size: 18px; /* Fonte um pouco menor para harmonizar com os outros elementos */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #3ab935; /* Verde mais forte no hover */
    color: #000000; /* Cor de texto escura para contraste */
}

/* Estilo do texto de erro */
.sp {
    color: red;
}

/* Estilo do rodapé */
footer {
    color: rgba(255, 254, 254, 0.9); /* Texto do rodapé mais suave */
    font-size: 30px;
    position: relative;
    top: 300px;
    text-align: center; /* Garantir que o texto fique centralizado */
    background-color: #5c5555bd;
}

/* Estilo do span */
.span {
    color: #1aff06; /* Verde mais vivo */
}

h1{
    font-size: 50px;
}

