body{
    background-image: url(imagem.jpg);
    color: rgba(255, 255, 255, 1);
    background-size: cover;
    
}
#formulario{
    margin-top: 20px;
}
.btn{
    margin: 10px;
    
    background: linear-gradient(black, blue);
    /* background-color: rgb(66, 194, 211); */
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    width: 75px ;
    height:30px ;
    font-size: 20px;
    color: rgb(19, 211, 115);
}
.btn:hover{
    cursor: pointer;
}



.navbar {
overflow: hidden;
background: linear-gradient(black, blue);
/* background-color: rgb(0, 0, 0); */
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(254, 255, 253);
border: solid rgb(19, 211, 115);

}
.navbar a{
    float: left;
    display: block;
    color: rgb(19, 211, 115);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-left: 100px;
    font-size: 20px;
}
.navbar a:hover {
    background-color: rgb(58, 185, 53);
    color: black;
    border-radius: 20px;

}

.sp{
    color: red;
}

footer{
    color: rgb(255, 254, 254);
    font-size: 30px;
    position: relative;
    top: 300px;
}
.span{
    color: rgb(26, 255, 6);
}

