body{
    background-image: url(futebol\ \(1\).jpg);
    color: bisque;
    background-size: cover;
}
#formulario{
    margin-top: 20px;
}
.btn{
    margin: 10px;
    background-color: rgb(66, 194, 211);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    width: 75px ;
    height:30px ;
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
}

.navbar {
    overflow: hidden;
    background-color: black;
}

.navbar {
overflow: hidden;
background-color: rgb(0, 0, 0);
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(254, 255, 253);
border: solid rgb(19, 211, 115);

}
.navbar a{
    float: left;
    display: block;
    color: rgb(19, 211, 115);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}
.navbar a:hover {
    background-color: aliceblue;
    color: black;
}

