body {
    color: white;
    background-color: rgb(171, 132, 132);
    font-size: 20px;
}

.ft{
    font-size: 100px;
    text-align: center;
     color: greenyellow;
}

.navbar {
    overflow: hidden;
    background-color: black;
}

.navbar {
overflow: hidden;
background-color: rgb(2, 147, 82);
border-radius: 200px;

}
.navbar a{
     float: left;
    display: block;
    color: aqua;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    
}
.navbar a:hover {
    background-color: aliceblue;
    color: black;
}
