body {
    background-color: black;
}

.pamonha {
    background-color: #FEECE0;
    width: 1000px;
    box-shadow: 10px 10px 10px white;
    position: relative;
}

.h1 {
    text-align: center;
    position: relative;
    top: -90px;
    left: -20px;
}

.h3 {
    text-align: center;
     position: relative;
    top: -100px;
    left: 80px;
}

.img {
    width: 210px;
    position: relative;
    top: 110px;
    left: 200px;
}

.modo {
    background-color: rgb(133, 81, 81);
    color: white;
    height: 300px;
    width: 1000px;
}

.preparo {
    position: relative;
    left: 450px;
    top: -145px;
    font-size: 20px;
}
.prato {
    position: relative;
    left: 90px;
    top: 50px;
    font-size: 20px;
}

.fonte {
    font-size: 30px;
}
.Ingredientes{
    position: relative;
    top: 50px;
    left: 70px;
     font-size: 20px;
}

.flex {
    position: relative;
    left: -50px;
}

