body {
    background-color: rgb(0, 0, 0);
}

.gallery-grid{
    /* padding-left: 5%; */
    box-shadow: 5px 5px 5px white;
   
}
h1 {
    text-align: center;
    background-color: rgb(69, 60, 60);
    border-radius: 100px;
    width: 1900px;
    box-shadow: 5px 5px 5px white;
}
.a{
    position: relative;
    left: 1000px;
}
.b{
position: relative;
bottom: 1920px;

}


